@use '../_abstracts/variables' as v;
@use '../_abstracts/mixins.scss' as m;

.error {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    flex-grow       : 1;
    justify-content : center;

    p {
        color: var(--color-base-content);
        font-size: v.$font-size-2xl;
    }
}
