@use '../_abstracts/variables' as v;
@use '../_abstracts/mixins' as m;

.HomePage {
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-200);



  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
