@use '../_abstracts/variables' as v;

.GameFooter {
	width: 100%;
	padding: v.$space-5 v.$space-5 v.$space-7;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: v.$space-5;

	@media (min-width: 600px) {
		padding: v.$space-6 v.$space-5 v.$space-8;
	}
}
